<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.backproject.mapper.AuthorMapper">
    <select id="countByName" resultType="int">
        SELECT COUNT(*) FROM author
        WHERE name = #{name}
    </select>
    <select id="selectAll" resultType="com.whut.backproject.entity.Author">
        SELECT * FROM author
    </select>
    <select id="selectByName" resultType="com.whut.backproject.entity.Author">
        SELECT * FROM author
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>
</mapper>

